<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kiemtra_nhathuy">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KiemTra_NhatHuy"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity_Add_Edit_KT6"
            android:exported="false" />
        <activity
            android:name=".MainActivity_KT6"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Add_Edit_KT5"
            android:exported="false" />
        <activity
            android:name=".MainActivity_KT5"
            android:exported="false" />
        <activity
            android:name=".MainActivity_KT4"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Menu_Info"
            android:exported="false" />
        <activity
            android:name=".MainActivity_KT3_Object"
            android:exported="false" />
        <activity
            android:name=".MainActivity_KT3_String_Array"
            android:exported="false" />
        <activity
            android:name=".MainActivity_KT3_Mang"
            android:exported="false" />
        <activity
            android:name=".MainActivity_KT3"
            android:exported="false" />
        <activity
            android:name=".MainActivity_KT2"
            android:exported="false" />
        <activity
            android:name=".MainActivity_KT1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>